<!DOCTYPE html>
<html lang="en">
<!--This will be the layout page. It will act as the template that every page will share-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment_5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>''
<div class="bg-transparent">
    <body>
        <br />
        <div class="jumbotron">
            <h1 class="text-center display-1">Online Bookstore</h1>
            <p class="text-center lead">Welcome to the Bookstore! Below, you can find our most popular books.</p>
            <hr />
        </div>
        <img src="~/img/book_pic.png" class="rounded mx-auto d-block" />
        <!--Get the view component-->
        <vc:navigation-menu />
        <!--At this point, this is where the page will add its personalized content-->
        <div>
            @RenderBody()
        </div>
    </body>
</div>
</html>

