<!DOCTYPE html>
<html lang="en">
<!--This will be the layout page. It will act as the template that every page will share-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment_5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!--At this point, this is where the page will add its personalized content-->
    <div>
        @RenderBody()
    </div>
</body>
</html>
